<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search - <?= Config::get("title") ?></title>
</head>
<body>

<!---- CALL HEADER ---->
<?= View::getHeader() ?>
<!---- CALL HEADER ---->

<!----------- PRIMARY CONTENT ----------->
    <?php for ($i = 1; $i <= count(self::$data)-1; $i++): ?>
    <div class="left-group">
        <div class="pic">
            <?php pre_print(self::$data[$i]) ?>
        </div>
    </div>
    <?php endfor; ?>
<!----------- PRIMARY CONTENT ----------->

<!---- CALL FOOTER ---->
<?= View::getFooter() ?>
<!---- CALL FOOTER ---->

</body>
</html>