body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(img/background.jpg);
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

header {
    height: 100px;
    width: 60%;
    margin: auto;
    background-color: rgb(17, 17, 17);
}

.logo {
    float: left;
    height: 60px;
    padding: 20px;
    border: 0;
}

.search {
    float: left;
    height: 30px;
    padding: 25px 0 0 40px;
}

#search-space {
    padding: 5px;
    width: 500px;
    box-sizing: border-box;
}

#send-button {
    padding: 5px;
    height: 29px;
    width: 30px;
    border: 0;
}

.log-in {
    float: right;
    padding: 10px 20px;
    margin: 30px;
    background-color: rgba(0, 102, 102, 0.8);
    color: white;
}

nav {
    position: absolute;
    top: 60px;
    left: 475px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav > ul > li {
    float: left;
}


nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    width: 100px;
}

nav ul::after {
    content: '';
    display: block;
    clear: both;
}

nav ul li a:hover {
    background-color: #339999;
}

nav ul li:hover {
    background-color: rgba(0, 102, 102, .8);
}

nav ul li:hover ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 102, 102, .8);
}


nav ul ul li {
    position: relative;
}

nav ul ul ul {
    left: 100%;
    top: 0;

}

.content {
    background-color: rgba(84, 84, 84, 0.7);
    width: 60%;
    min-height: 1000px;
    clear: both;
    margin: auto;
}

.left-group {
    float: left;
    width: 65%;
    padding: 20px;
}

.left {
    margin: 15px;
    float: left;
}

.right-group {
    float: right;
    width: 25%;
    padding: 20px;
    text-align: left;
}

h2 {
    text-align: center;
    padding: 0px;
    margin: 10px;
}

.text {
    font-size: 16px;
    padding: 5px;
}

.pic {
    background-image: url(img/fight_club.jpg);
    width: 180px;
    height: 260px;
    margin: 20px;
}

.text1 {
    background-color: azure;
    width: 80px;
    height: 160px;
    opacity: 0;
}

.pic:hover .text1 {
    opacity: 0.7;
    text-align: center;
    padding: 50px;
}

footer {
    width: 60%;
    margin: auto;
    background-color: rgb(17, 17, 17);
    height: 100px;
}

footer i {
    font-size: 25px;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
    position: relative;
    top: 20px;;
    left: 20px;
}