<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <title>Log In - <?= Config::get("title") ?></title>
</head>
<body>
<!---- CALL HEADER ---->
<?= View::getHeader() ?>
<!--------------------->

<!----------- PRIMARY CONTENT ----------->
<div class="content">
    <div class="form">
        <form action="" method="post">
            <label for="username">Username</label> <br>
            <input class="textinput" type="text" name="username" id="username" placeholder="Your Name"> <br>

            <label for="email">E-mail</label> <br>
            <input class="textinput" type="text" name="email" id="email" placeholder="youremail@example.com"> <br>

            <label for="password">Password</label> <br>
            <input class="textinput" type="password" name="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;"> <br>

            <input type="submit" value="Sign Up" class="button"><br>
        </form>
    </div>
    <div class="right-group">
        <h2>News</h2>
        <div class="text">Pitt and Jolie are getting divorced</div>
        <div class="text">Nolan's new movie</div>
        <div class="text">Warcraft grossed 150m</div>
        <div class="text">IMDb and Rotten Tomatoes</div>
        <div class="text">Former Glee Star Mark Salling Indicted on Child Pornography Charges</div>
        <div class="text">Johnny Depp’s Wife Amber Heard Claims Domestic Violence</div>
    </div>
</div>
</div>
<!--------------------------------------->

<!---- CALL FOOTER ---->
<?= View::getFooter() ?>
<!--------------------->
</body>
</html>