<header>
    <div class="logo">
        <a href="http://localhost"><img src="http://placehold.it/60x60"></a>
    </div>
    <div class="search">
        <form action="http://localhost/search/index" method="POST">
            <input type="text" name="search" id="search-space" placeholder="Name of the movie or series">
            <button type="submit" id="send-button">Search</button>
        </form>
    </div>
    <div class="log-in"><a href="http://localhost/users/login">Log In</a></div>
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="#">Movies</a>
                </li>
                <li><a href="#">Top 250</a>
                </li>
                <li><a href="#">My profile</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<br> <!--- For testing --->