<//?php die(); ?>
<header>
    <div class="logo">
        <a href="http://localhost"><img src="http://placehold.it/60x60"></a>
    </div>
    <div class="search">
        <form action="search/index" method="POST">
            <input type="text" name="search" id="search-space" placeholder="Name of the movie, actor etc.">
            <button type="submit" id="send-button"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="log-in"><a href="http://localhost/users/login">Log In</a></div>
</header>
<div class="wrapper">
    <nav>
        <ul>
            <li><a href="#">Movies</a>
                <ul>
                    <li><a href="#">Popular</a></li>
                    <li><a href="#">Top 250</a></li>
                    <li><a href="#">In theaters</a></li>
                </ul>
            </li>
            <li><a href="#">TV</a>
            </li>
            <li><a href="#">Games</a>
                <ul>
                    <li><a href="#">Xbox One</a></li>
                    <li><a href="#">PlayStation 4</a></li>
                    <li><a href="#">PC</a></li>
                </ul>
            </li>
            <li><a href="#">Books</a>
            </li>
        </ul>
    </nav>
</div>